* {
  margin: 0;
  padding: 0;
  background: black;
  box-sizing: border-box;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-family: "Bangers", cursive;
  background: black;
}

img {
  display: none;
}
a {
  color: white;
  position: absolute;
  bottom: 50px;
  left: 20px;
  z-index: 100;
}
